<header>
  <nav class='navbar navbar-expand-lg navigation'>
    <div class="container-fluid">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <div class="d-inline-block align-text-top">
          <%= image_tag 'logo.png' %>
          ENJOY朝活
        </div>
      <% end %>

      <button class='navbar-toggler'>
        <span class='navbar-toggler-icon'></span>
      </button>

      <div class='collapse navbar-collapse'>
        <ul div class='navbar-nav ms-auto main-nav align-items-center'>
        <li class='nav-item'>
            <%= link_to t('header.record_index'), records_path, class: 'nav-link' %>
          </li>
          <li class='nav-item'>
            <%= link_to t('header.post_index'), "#", class: 'nav-link' %>
          </li>
          <li class='nav-item'>
            <%= link_to t('header.my_page'), "#", class: 'nav-link' %>
          </li>
          <li class='nav-item'>
            <%= link_to t('header.logout'), destroy_user_session_path, class: 'nav-link', data: { turbo_method: :delete } %>
          </li>
        </div>
      </div>
    </div>
  </nav>
</header>