<h2 class="text-center mt-4 mb-3"><%= t('.title') %></h2>
  <%= month_calendar(attribute: :date, events: @records) do |date, records| %>
    <%= date.day %>
    <% records.each do |record| %>
        <div>
          <%= link_to record.content, record_path(record) %>
        </div>
      <% end %>
  <% end %>

  <%= link_to t('.new'), new_record_path %>
  