<%= form_with model: @post, local: true do |f| %>
  <%= render 'shared/error_message', object: f.object  %>
    <div class= 'form_group mt-2'>
      <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control' %>
    </div>
    <div class='form-group mt-2'>
      <%= f.label :image %>
      <%= f.file_field :image, class: 'form-control', accept: 'image/*' %>
    </div>
    <div class='form-group mt-2'>
      <%= f.label :record_id, t('.select_date') %>
      <%= f.collection_select :record_id, current_user.records.all, :id, :date, class: 'form-control' %>
    </div>
    <% if @post.image.present? %>
      <div class='form-group col-10 mt-2'>
        <%= image_tag @post.image.url, class: 'img-thumbnail' %>
        <%= check_box_tag 'post[remove_image]', '1', false %> 画像を削除する
      </div>
    <% end %>

    <%= f.submit nil, class: 'btn btn-custom col-2 my-2' %>
  <% end %>
   