<div class="card my-4">
  <div class="card-body">
    <div class="card-title d-flex">
      <div class="p-1 flex-grow-1"><%= post.user.name %></div>
      <% if current_user.own?(post) %>
        <div class='p-1'>
          <%= link_to edit_post_path(post) do %>
            <i class='bi bi-pencil-square'></i>
          <% end %>
        </div>
        <div class='p-1'>
        <%= link_to post_path(post), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') }  do %>
          <i class="bi bi-trash-fill"></i>
        <% end %>
        </div>
      <% end %>
      <div class="p-1"><%= l post.created_at, format: :date_time %></div>
    </div>
    <%= link_to(post_path(post)) do %>
      <div class="text-black">
        <p class="card-text col-10 mx-auto mb-3"><%= post.body %></p>
        <div class="col-10 mx-auto">
          <% if post.image.present? %>
            <div class="text-center">
              <%= image_tag post.image_url, class:"image-resize" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="card col-10 mx-auto mt-3">
      <div class="card-text">
        <p class='mx-3 mt-2'>
          <%= t('.active_time')%>
          <%= l post.record.started_time, format: :time %>~<%= l post.record.finished_time, format: :time %>
        </p>
        <p class='mx-3 my-2'>
          <%= t('.content')%>
          <%= post.record.content %>
        </p>
      </div>
    </div>
    <div class="card-text text-end me-2 mt-1">
      <%= link_to post_path(post) do %>
        <i class="bi bi-chat-right-dots mx-1"></i><%= post.comments.size %>
      <% end %>
    </div>
  </div>
</div>